body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Remove margin and padding for the section element */
section {
  margin: 0;
  padding: 0;
}

.header {
    height: 50px;
    padding: 30px; /* some padding */
    text-align: center; /* center the text */
    background-color: white;
    color: black(255, 250, 250, 0.897); /* white text color */
    margin: 0;
  }
  
  .header h1 {
    font-size: 30px;
  }

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    width: 100%;
    background-color: white; /* Dark background color */
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;

  }
  
  /* Style the navigation bar links */
  .navbar a {
    width: 350 px;
    display: inline-block; /* Change the display to block, for responsive reasons (see below) */
    color: gray; /* White text color */
    text-align: center; /* Center the text */
    padding: 10px 10px; /* Add some padding VT, HZ*/
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease-out 0.5ms;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
  /*  background-color: #ddd; /* Grey background color */
    color: #fd6155; /* Black text color */
  }

/* FRONT SECTION */  


#front {
  position: relative;
  width: 100%;
  height: 800px;
}

.gradient-background {
  position: relative;
  width: 100%;
  height: 800px;
  background: linear-gradient(81deg, #f8bdbd, #fd6155, #f6f3e4);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.desCHlogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

/* ABOUT ME SECTION */
#aboutMe {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #F6F3E4;
}

.aboutme_overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.aboutme_img {
  width: 1470px;
  height: 600px;
}

.me_img {
  position: absolute;
  top: 0px;
  left: 750px;
  width: 750px;
  height: 600px;
  object-fit: cover;
}

/* ABOUT ME SECTION: HI IM ...*/

.aboutme_description {
  position: absolute;
  top: 190px;
  left: 160px;
  z-index: 1;
  color: white;
}
.aboutme_description p {
  width: 30%;
  background-color: rgba(253,97,85,0.6);
  padding: 20px;
}
.aboutme_description h1 {
  width: 15%;
  overflow: hidden; /* Ensure text overflow is hidden */
  border-right: 0.15em solid black; /* Create a blinking cursor effect */
  white-space: nowrap; /* Prevent line breaks */
  margin: 0; /* Remove default margin */
  animation: typing 6s steps(22), blink .5s step-end infinite alternate;
  background-color: black; /* Replace with your desired background color */
  display: inline-block;
  padding: 5px 10px;
}

.aboutme_description h2 {
  position: absolute;
  color: white;
  font-size: 110px;
  opacity: 50%;
  font-style: italic;
  top: 280px;
  left: -150px;
}

@keyframes typing {
  from {
    width: 0; /* Start with zero width */
  }
}

@keyframes blink {
  from, to {
    border-color: transparent; /* Hide the cursor */
  }
  50% {
    border-color: white; /* Show the cursor */
  }
}

/* for coursework section */
#education {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 600px; /* Set the height of the education section */
  text-align: center; /* Center align the content */
  background-color: white 
 /*background-image: url('/Users/desireeucsd/Desktop/proj/website/images/pattern-background.png'); 
  background-repeat: repeat-x; */ /* Repeat the pattern */
}

.Coursework {
  text-align: left; /* Reset text alignment for the content */

  border: 5px solid ; /* Add border for the box */
  border-radius: 15px;
  border-color: rgb(245, 134, 134);

  padding-top: 80px; /* Add padding for spacing */
  padding-bottom: 80px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: rgba(252, 173, 167, 0.974);
}


.Coursework h1 {
  margin-bottom: 20px; /* Remove default margin for the heading */
  color: white
}

.Coursework ul {
  margin-top: 0; /* Remove default margin for the unordered list */
  padding-left: 20px; /* Add some padding for the list */
  color: white;
}

  /* FUN SELECTABLE IMAGES SECTION */
  
  #image_picker {
    width: 100%;
    height: 540px;
    background-color: rgb(245, 134, 134);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
  }

  #image_picker h1 {
    margin-top: 20px; /* Adjust this value according to your preference */
    margin-bottom: 20px; /* Adjust this value according to your preference */
    color: white
    
  }
  .nav_images {
    display: flex; /* Arrange images in a row */
  }
  
  .ft,
  .musicTB,
  .moviesTB,
  .thoughtsTB {
    flex-basis: 25%;
    position: relative;
    width: 300px;
  }
  
  .fast_tab,
  .music_tab, 
  .movies_tab,
  .thoughts_tab {
    display: block;
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .ft_overlay,
  .musicTB_overlay, 
  .moviesTB_overlay,
  .thoughtsTB_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 2px 4px 4px rgba(0,0,0,1);
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s;
  }

  .ft_overlay > *,
  .musicTB_overlay > *,
  .moviesTB_overlay > *,
  .thoughtsTB_overlay > * {
    transform: translateY(20px); 
    opacity: 0; 
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .ft:hover .fast_tab, 
  .musicTB:hover .music_tab, 
  .moviesTB:hover .movies_tab,
  .thoughtsTB:hover .thoughts_tab {
    filter: none; 
  }

  .ft:hover .ft_overlay > *, 
  .musicTB:hover .musicTB_overlay > *,
  .moviesTB:hover .moviesTB_overlay > *,
  .thoughtsTB:hover .thoughtsTB_overlay > * {
    transform: translateY(0); 
    opacity: 1; 
  }
  
  .ft:hover .ft_overlay,
  .musicTB:hover .musicTB_overlay,
  .moviesTB:hover .moviesTB_overlay,
  .thoughtsTB:hover .thoughtsTB_overlay {
    opacity: 1;
  }
  
  .ft_title,
  .musicTB_title, 
  .moviesTB_title, 
  .thoughtsTB_title {
    font-size: 2em;
    font-weight: bold;
  }
  
  .ft_description,
  .musicTB_description, 
  .moviesTB_description,
  .thoughtsTB_description {
    font-size: 1.25em;
    margin-top: 0.15em;
  }

  #footer {
    width: 100%;
    height: 90px;
    background-color: white;;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer_head p {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
  }
  
  .social_media a {
    display: inline-block;
    margin-right: 10px;
    color: black;
  }
  
  .social_media a:last-child {
    margin-right: 0;
  }

/* contact section */

#contact {
  display: flex;
  justify-content: center;
  background-color: #F6F3E4;
  width: 100%;
  height: 400px;
}

.contact {
  width: 50%;
}

.email {
  background-color: #F6F3E4;
  width: 100%;
  height: 100%; /* fill the height of the parent container */
}

.email h3,
.email a,
.email p {
  margin-top: 100px;
  margin-left: 150px;
  color: black; /* change text color for better visibility */
}

.links {
  width: 50%;
}

.links p,
.links a {
  color: black; /* default text color */
}

